<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- // don't forget : Min Pool Size=5;Max Pool Size=300;Pooling=true;
    // CONNECTION DEV
    <add name="seekios_dbEntities" connectionString="metadata=res://*/SeekiosDataModel.csdl|res://*/SeekiosDataModel.ssdl|res://*/SeekiosDataModel.msl;provider=System.Data.SqlClient;provider connection string='data source=u1b7kcodrq.database.windows.net;initial catalog=seekios_db;persist security info=True;user id=weezo1505;password=&quot;jR75=OBTaqp89&quot;;Min Pool Size=5;Max Pool Size=300;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    -->
    <!-- // CONNECTION PROD-->
    <add name="seekios_dbEntities" connectionString="metadata=res://*/SeekiosDataModel.csdl|res://*/SeekiosDataModel.ssdl|res://*/SeekiosDataModel.msl;provider=System.Data.SqlClient;provider connection string='data source=u2b7kcodrq.database.windows.net;initial catalog=seekios_db;persist security info=True;user id=weezo1505;password=&quot;IOUH65=1@54j2016&quot;;Min Pool Size=5;Max Pool Size=300;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>